@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide number input arrows */
@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  @apply !pr-0;
}

body {
  font-family: 'DM Sans', 'system-ui', monospace;
  @apply bg-white min-w-[800px] scroll-smooth min-h-screen overflow-y-scroll;
}

.primary-outline {
  @apply border-2 border-gray-200 rounded;
}
